blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
Flask-Cors
fonttools
gunicorn
idna
imageio
itsdangerous
Jinja2
kiwisolver
lazy_loader
MarkupSafe
mpmath
networkx
numpy==1.26.4
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
requests
scikit-image
scipy
six
sympy
tifffile
torch
torchvision
typing_extensions
urllib3
Werkzeug
scikit-learn==1.2.2
